/* Vizualizace - tabulka */
.afinne.secondary-content {
  margin-top: -20px;
  margin-bottom: 0;
}

.affine-table {
  flex: 1 1 0;
  height: fit-content;
  width: 100%;
  max-width: 440px;
  overflow-x: auto;
  margin-left: 40px;
  background: var(--viz-bg);
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
}

.affine-table thead {
  border: 2px solid var(--viz-grid-border);
}

.affine-table tbody {
  border: 2px solid var(--viz-grid-border);
}

.affine-table table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85em;
  background: var(--viz-bg);
  table-layout: fixed;
}

.affine-table td {
  padding: 0.5em;
  text-align: center;
}

.affine-table th,
.affine-table td {
  padding: 0.01em 1.5em;
  text-align: center;
  border: 1.5px solid var(--viz-grid-border);
  border-right: 2px solid var(--viz-grid-border);
}


@media (max-width: 1200px) {

  .afinne.secondary-content {
    margin-left: 0;
    margin-top: -9px;
  }

  .affine-table {
    margin-left: 94px;
  }

}