/* Parametry */
.input-permutation {
  width: 100%;
  letter-spacing: 1px;
  width: 310px;
}

/* Vizualizace - Tabulka */
.substitution-table {
  margin-top: 20px;
  width: 100%;
  max-width: 650px;
  min-width: 520px;
  border-collapse: collapse;
  table-layout: fixed;
  background: var(--viz-bg);
}

.substitution-table th,
.substitution-table td {
  border: 2px solid var(--viz-border);
  padding: 6px;
  font-size: 15px;
  text-align: center;
  width: calc(100% / 26);
}

.substitution.secondary-content {
  margin-top: 3.63em;
}

.substitution.viz-step {
  margin-top: -1em;
}

@media (max-width: 1200px) {
  .substitution.substitution.secondary-content {
    margin-top: -25px;
  }
}
