.theme-toggle {
  position: fixed;
  top: 18px;
  right: 18px;
  background: var(--viz-bg);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  z-index: 1000;
}

.theme-toggle:hover {
  transform: scale(1.05);
}

.theme-toggle img {
  width: 18px;
  height: 18px;
  opacity: 75%;
  padding-top: 5px;
}

[data-theme="dark"] .theme-toggle img {
  filter: invert(1);
}
