.content-404 {
  text-align: center;
  max-width: 500px;
}

.content-404 h1 {
  font-size: 4em;
  margin: -0.2em;
}

.content-404 h2 {
  font-size: 1.5em;
  margin: 0 0 -0.2em 0;
}

.content-404 p {
  font-size: 1.1em;
  color: var(--light-text-color);
  margin: 0 0 0.8em 0;
}

.btn-view {
  display: inline-flex;
  background: var(--view-btn-bg);
  gap: 8px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 6px;
  font-size: 0.8em;
}

.btn-view:hover {
  background: var(--view-btn-bg-hover);
}

.btn-view img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
