/* Logo + Nazev */
.logo {
  gap: 8px;
  padding: 0 16px;
  margin-bottom: 12px;
}

.logo img {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.logo img:hover {
  filter: brightness(0.9);
  transform: scale(1.05);
}

.logo h1 {
  margin: 0;
  font-size: 1.4em;
}

/* Navigace */
.menu {
  gap: 2px;
}

.nav-link {
  gap: 12px;
  width: 84.5%;
  border-left: 5px solid transparent;
  padding: 12px 14px 12px 22px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.05em;
  font-weight: 600;
}

.nav-link.router-link-exact-active,
.nav-link.router-link-active,
.nav-link:hover,
.nav-link:focus-visible {
  border-left-color: #42b983;
  background: rgba(93, 129, 115, 0.07);
  cursor: pointer;
  transition: 0.1s;
}

[data-theme="dark"] .nav-link.router-link-exact-active,
[data-theme="dark"] .nav-link.router-link-active,
[data-theme="dark"] .nav-link:hover,
[data-theme="dark"] .nav-link:focus-visible {
  background: rgba(143, 197, 175, 0.07);
  border-left-color: #339268;
}


.icon {
  display: none;
  width: 24px;
  text-align: center;
  font-size: 1.2em;
}

.label {
  white-space: nowrap;
}

/* Celý sidebar */
.sidebar {
  width: 270px;
  min-width: 270px;
  max-width: 270px;
  flex-shrink: 0;
  transition: 0.15s;
  background: #42b9832f;
  padding: 12px 0;
  position: sticky;
  top: 0;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
  z-index: 10;
}

/* Šipka na přepínaní stavu */
.arrow {
  font-size: 1.2em;
  cursor: pointer;
}

.arrow-btn {
  position: absolute;
  top: 12px;
  right: 12px;
}

.collapsed-arrow {
  justify-content: center;
  margin: 4px 8px 8px;
  border-radius: 6px;
  rotate: 180deg;
}

.arrow-btn:hover,
.collapsed-arrow:hover {
  transform: scale(1.05);
}

[data-theme="dark"] .nav-link img,
[data-theme="dark"] .arrow img {
  filter: invert(1) brightness(0.82);
}

/* schovaný stav sidebaru collapsed*/

.sidebar.collapsed {
  transition: 0.15s;
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

.sidebar.collapsed .logo h1,
.sidebar.collapsed .logo img,
.sidebar.collapsed .arrow-btn {
  display: none;
}

.sidebar.collapsed .icon {
  display: inline-block;
  padding-bottom: 3px;
  margin-top: 2px;
}

.sidebar.collapsed .nav-link {
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  width: 93%;
  position: relative;
}

.sidebar.collapsed .nav-link .label {
  position: absolute;
  top: 50%;
  left: calc(100%);
  background: rgba(152, 204, 182, 0.14);
  color: var(--text-color);
  padding: 14px 12px;
  z-index: 4;
  transform: translateY(-50%) scale(1);
  visibility: hidden;
}

.sidebar.collapsed .nav-link:hover .label,
.sidebar.collapsed .nav-link:focus-visible .label {
  visibility: visible;
}

@media (max-width: 1399px) {

  .sidebar,
  #sidebar {
    width: 80px;
  }

  .arrow-btn,
  .collapsed-arrow,
  .sidebar .arrow {
    display: none;
  }
}

@media (max-width: 1200px) {

  .sidebar,
  #sidebar {
    height: 328vh;
    max-height: 328vh;
  }
}