<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~vymeja02/sifrovac/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /~vymeja02/sifrovac/index.html [L]
</IfModule>