<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /sifrovac/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /sifrovac/index.html [L]
</IfModule>