/* CipherTexarea */
textarea {
  width: 100%;
  min-height: 105px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 0.75em;
  font-size: 1.1em;
  background: var(--input-bg);
  color: var(--text-color);
  margin-bottom: 0.5em;
}

textarea:focus {
  border: 1.5px solid var(--text-color);
  outline: none;
}

.textarea-wrap {
  position: relative;
}

.copy-btn {
  position: absolute;
  background: var(--input-bg);
  cursor: pointer;
  color: var(--text-color);
  padding: 0.3em;
  border-radius: 4px;
}

.copy-btn:hover {
  transform: scale(1.05);
}

.copy-btn svg {
  color: var(--text-color);
  background: var(--input-bg);
}
